body {
    background: black;
    font: 16px Arial, sans-serif;
    color: white;
    height: 100%;
}

h1 {
    color: white;
}

large-input {
    width: 100%;
}

input {
    color: white;
    background:black;
    font-size:16px;
    margin-right: 0px;
    word-wrap:normal;
}

button {
    color: white;
    background: black;
    font-size: 16px;
}

textarea {
    color: white;
    background: black;
    font-size: 14px;
}

progress {
    background-color:black;
    color: red;
}

.float-container {
    padding: 5px;
}

.MainColumnLeft {
    width: 42%;
    float: left;
    padding: 1%;
}

.MainColumnRight {
    width: 50%;
    float: right;
    padding: 1%;
}  

.PageFooter {
    display: inline-block;
}