body {
    background: black;
    font: 18px Arial, sans-serif;
    color: white;
    height: 706px;
}

h1 {
    color: white;
}

input {
    width: 175px;
}

textarea {
    color: white;
    background:black;
    width: 545px;
}

.float-container {
    padding: 5px;
}

.MainColumnLeft {
    width: 45%;
    float: left;
    padding: 20px;
}

.MainColumnRight {
    width: 45%;
    float: left;
    padding: 20px;
}  