body {
    background: black;
    font: 18px Arial, sans-serif;
    color: white;
    height: 100%;
}

h1 {
    color: white;
}

large-input {
    width: 100%;
}

input {
    color: white;
    background:black;
    font-size:14px;
    width: 145px;
    margin-right: 0px;
}

button {
    color:white;
    background:black;
}

textarea {
    color: white;
    background: black;
    font-size: 14px;
}

progress {
    background-color:black;
    color: chartreuse;
}

.float-container {
    padding: 5px;
}

.MainColumnLeft {
    width: 42%;
    float: left;
    padding: 20px;
}

.MainColumnRight {
    width: 50%;
    float: right;
    padding: 20px;
}  

.PageFooter {
    display: inline-block;
}